# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore audio and video files
*.mp3
*.mp4
*.wav
*.avi
*.mov
*.mkv
*.flv
*.wmv

# Ignore images
*.jpg
*.jpeg
*.png
*.gif
*.tif
*.tiff
*.ico
*.svg

# Ignore not useful files
*.log
*.tmp
*.bak
*.swp
*.DS_Store
*.exe
*.dll
*.so
*.a
*.o
*.obj
*.lib
*.pdb
*.class
*.jar
*.war
*.ear
*.zip
*.rar
*.tar.gz
*.tar.bz2
*.tar.xz
*.7z
*.gz
*.bz2
*.xz
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.txt
*.csv
*.xml
*.json
*.yaml
*.yml
*.html
*.css
*.js
*.ts
*.jsx
*.tsx
*.java
*.cpp
*.h
*.hpp
*.py
*.rb
*.php
*.swift
*.go
*.rust
*.lua
*.sql
*.md
